{{#if resume.awards}}
<section class="awards-wrapper">
  <div class="detail">
    <h3 class="title text-uppercase"><i class="fa fa-trophy"></i>Awards</h3>

    <ul class="list-unstyled">
      {{#resume.awards}}
      <li class="detail-item">
        <div class="detail-item-content">
          <div class="detail-item-header">
            <h4>
              <strong>{{title}}</strong>
              {{#if awarder}}
              {{#if website}}
              <a href="{{website}}" target="_blank">{{awarder}}</a>
              {{else}}
              <span>{{awarder}}</span>
              {{/if}}
              {{/if}}
            </h4>

            {{#if date}}
            <p class="text-muted">
              <small>
                <time datetime="{{date}}">{{formatDate date}}</time>
              </small>
            </p>
            {{/if}}

          </div>

          <p>{{summary}}</p>
          {{/resume.awards}}
    </ul>
  </div>
</section>
{{/if}}